<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>로그인화면</title>
</head>
<body>
<h2>로그인화면</h2>
<form th:action ="@{/login}" method="post">
<label>
아이디 : <input type="text" name="loginId"
    th:value="${session.remember} ? ${session.loginId} : ''">
</label><br>
<label>
비밀번호 : <input type = "password" name = "loginPwd">
</label><br>
<input type = "checkbox" name = "remember-me" th:checked="${session.remember}">아이디 기억<br><br>

<input type="submit" value="로그인">
</form>
</body>
</html>