@charset "UTF-8";
@import "main.css";

/* ***********************************
    회원가입 / 로그인 화면
*********************************** */
.content {
    width: 1000px;
    margin: 0 auto;
}

.content .section {
    padding: 80px;
}

.content .section>.article {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
}

.section>.article>ul {
    margin: 10px auto;
}

.section>.article>ul>li {
    color: #ccc;
    width: 95%;
}

.section>.article>ul input {
    /* 영역 100%에서 아이콘, 여백 등의 크기(60px)을 뺀 나머지를 input상자의 폭으로 지정*/
    width: calc(100% - 60px);
    background-color: #f7f7f7;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: inherit;
}

.btns {
    text-align: center;
}

.content .pointColor {
    background: linear-gradient(45deg, rgba(78, 197, 217, 1) 0%, rgba(38, 59, 151, 1) 100%);
}