<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf test 출력</title>
</head>

<body>
    <h2>Thymeleaf text 출력</h2>
    <div>
        <a th:href="@{/}">홈으로</a>
    </div>
    <h3>1.문자 출력</h3>
    <p>한글출력: <span th:text="${korean}">한글</span></p>
    <p>영문출력: <span th:text="${english}">영문</span></p>
    <p>태그출력: <span th:text="${tag}">태그</span></p>
    <p>정수출력: <span th:text="${age}">정수</span></p>
    <p>실수출력: <span th:text="${pi}">실수</span></p>
    <p>url출력: <span th:text="${url}">url</span></p>
    <br>
    <p>태그출력 마끼 없이: <span th:utext="${tag}">태그</span></p>
    <p>url출력시 링크가 걸리게: <a th:href="${url}" th:text="${url}">네이버</a></p>
    <br>
    <hr>
    <h3>2. 태그의 inner 위치에서 thymeleaf 문법을 사용하면...</h3>
    <p>한글출력: [[${korean}]]</p>
    <p>영문출력: [[${english}]]</p>
    <br>
    <hr>
    <h3>3.빈문자 출력 - 아무것도 출력되지 않음</h3>
    <p>null 출력: <span th:text="${nullData}">null</span></p>
    <p>빈문자 출력: <span th:text="${emptyData}">빈문자</span></p>
   	<br>


</body>

</html>