<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구정보 조회 화면</title>
</head>

<body>
    <h2>친구정보 조회 화면</h2>
    <div>
        <a th:href="@{/}"><img th:src="@{/images/home.png}" alt="첫화면으로"></a>
    </div>
    
    <form th:action="@{/updateOne}" method="POST">
    	<!-- update 쿼리문에서 where절에서 사용해야함 -->
    	<input type="hidden" name="fseq" th:value="${friend.fseq}" >
    	
        <label for="fname">이름: </label>
        <input type="text" id="fname" name="fname" th:value="${friend.fname}" readonly >
        <br>

        <label for="age">나이:</label>
        <input type="number" id="age" name="age" th:value="${friend.age}">
        <br>

        <label for="phone">전화번호:</label>
        <input type="text" id="phone" name="phone" th:value="${friend.phone}">
        <br>

        <label for="birthday">생년월일:</label>
        <input type="date" id="birthday" name="birthday" th:value="${friend.birthday}">
        <br>

        <label>
            성향:
            <input type="radio" name="active" value="1" th:checked="${friend.active}">외향적 &nbsp;
            <input type="radio" name="active" value="0" th:checked="not ${friend.active}">내성적
        </label>
        <br><br>

        <div>
            <input type="submit" value="수정">
            <input type="reset" value="초기화">
        </div>
    </form>
</body>

</html>