<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신체정보입력</title>
</head>
<body>
	<h2>신체정보 입력</h2>
	<div>
        <a th:href="@{/}"><img th:src="@{/images/home.png}" alt="첫화면으로"></a>
    </div>
	<form th:action="@{/insertMember}" method="POST">
			<label for="name">이름:  </label>
			<input type="text" id="name" name="name" placeholder="이름을 입력"><br>
			
			<label>성별:
				<input type="radio" name="gender" value=1 checked>남자&nbsp;
				<input type="radio" name="gender" value=0 >여자
			</label><br>
			
			<label for="height">키:  </label>
			<input type="text" id="height" name="height" placeholder="키를 입력"><br>
			
			<label for="weight">몸무게:  </label>
			<input type="text" id="weight" name="weight" placeholder="몸무게를 입력"><br><br>
			
			<input type="submit" value="저장">
			<input type="reset" value="취소">
	</form>
</body>
</html>