<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness 정보 관리</title>
</head>
<body>
	<h2>Fitness 정보 관리</h2>
	<form action="regist" method="POST">
		<label for="name">이름 : </label>
		<input type="text" id="username" name="name" placeholder="이름을 입력"><br>
		
		<label>성별 : 
			<input type="radio" name="gender" value="남성" checked> 남성
			<input type="radio" name="gender" value="여성" > 여성
		</label>
		<br>
		
		<label for="height">키 : </label>
		<input type="text" id="height" name="height" placeholder="키를 입력"><br>
		
		<label for="weight">몸무게 : </label>
		<input type="text" id="weight" name="weight" placeholder="몸무게를 입력"><br>
		
		<input type="submit" value="등록">
		<input type="reset" value="취소">
	</form>
</body>
</html>